body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.controls {
  margin: 10px;
}

.chart-container {
  border: 1px solid black;
  width: 90%;
  height: 80vh;
  position: relative;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  display: none;
  background: #f9f9f9;
  border: 1px solid #d4d4d4;
  padding: 4px 8px;
  border-radius: 4px;
}

.crosshair {
  stroke: #aaa;
  stroke-dasharray: 5, 5;
}
.y-grid line,
.x-grid line {
  stroke: #ddd;
}

.y-grid path,
.x-grid path {
  stroke-width: 0;
}
